# Unreal Engine build and cache files
/Drummer/Intermediate
/Intermediate
/Binaries
/Saved
/Content/Database/drummer_data.db

# IDE-specific files
*.sln 
/.vscode
/.vs
.vsconfig
# macOS system files
*.DS_Store
/DerivedDataCache


# Plugin-specific files
/Plugins/Smartsuit/Intermediate/Mac
/Plugins/Smartsuit/Binaries/Mac
/Plugins/Smartsuit/Intermediate
/Plugins/Smartsuit/Binaries
/.git